{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}{{ title }} - {{ seo_settings.meta_title }}{% endblock title %}
{% block content %}
<div class="page-body">
   <div class="container-fluid">
      <div class="page-title">
         <div class="row">
            <div class="col-6">
               <h3>Contact Page</h3>
            </div>
            <div class="col-6">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                     <a href="{% url 'adminHome' %}">
                        <svg class="stroke-icon">
                           <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-home"></use>
                        </svg>
                     </a>
                  </li>
                  <li class="breadcrumb-item">Pages</li>
                  <li class="breadcrumb-item active">Contact Page</li>
               </ol>
            </div>
         </div>
      </div>
   </div>
   <!-- Container-fluid starts-->
   <div class="container-fluid">
      <div class="row project-cards">
         <div class="col-md-12 project-list">
         </div>
         <div class="container">
            {% if SeoForm.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    <ul>
                        {% for field, errors in SeoForm.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}  
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}  
                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">Contact Details</h6>
                                <div class="d-flex justify-content-start">
                                    <a href="{% url 'AdminWebsiteSettings' %}" class="btn btn-primary" style='margin-right:5px;'><i class="fa fa-pencil"></i> Edit in Website Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">Social Icons</h6>
                                <div class="d-flex justify-content-start">
                                    <a href="{% url 'AdminHeaderFooterSettings' %}" class="btn btn-primary" style='margin-right:5px;'><i class="fa fa-pencil"></i> Edit in Header Footer Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">Contact Form Submissions</h6>
                                <div class="d-flex justify-content-start">
                                    <a href="{% url 'AdminContactList' %}" class="btn btn-primary" style='margin-right:5px;'><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="mb-3">SEO</h6>
                                <div class="row">
                                    <div class="col-12">
                                        <form method="post">
                                            {% csrf_token %}  
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 mb-2">
                                                    <label for="{{ SeoForm.meta_title.id_for_label }}">Meta Title</label>
                                                    {{ SeoForm.meta_title }}
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label for="{{ SeoForm.meta_description.id_for_label }}">Meta Description</label>
                                                    {{ SeoForm.meta_description }}
                                                </div>
                                            </div>
                                            <!-- Ensure proper indentation for the closing </form> tag -->
                                            <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

           
         </div>
      </div>
   </div>
</div>
<!-- Container-fluid Ends-->
{% endblock %}